################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DT/.vs
/DT/DT/bin/Debug/net8.0
/DT/DT/obj
